<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', {title: 'Formulario de creación'}) %>
<body>
	<%- include('partials/headerNavbar') %>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
                <h2 class="products-title">¡Bienvenidx de nuevo xxxxxx!</h2>    
			</div>
		</div>
    </div>
    
	<%- include('partials/footer') %>

</body>	
</html>